extends layout

block content
  div(class="mdl-grid mdl-grid--no-spacing")
    a(href="./events",style="text-decoration: none;")
      div(class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-shadow--2dp", style="width: auto;")
        figure(class="mdl-card__media")
          img(src="/images/all.jpg",style="background-color: white; width: 200px; max-height: 200px;")
        div(class="mdl-card__title")
          h1(class="mdl-card__title-text") All Events
        div(class="mdl-card__supporting-text mdl-card__actions mdl-card--border")
          p Lists all events from all categories


    each cat in categories
      a(href="./categories/#{cat.title}/events",style="text-decoration: none;")
        div(class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-shadow--2dp", style="width: 280px;")
          figure(class="mdl-card__media")
            img(src="#{cat.url}",style="background-color: white; width: 200px; max-height: 200px;")
          div(class="mdl-card__title")
            h1(class="mdl-card__title-text")= cat.title
          div(class="mdl-card__supporting-text mdl-card__actions mdl-card--border")= cat.description
