extends layout

block content
  div(class="mdl-grid mdl-grid--no-spacing")
    
    if eventsArray.length == 0
      h1 No Events Found
    else
      each event in eventsArray
        a(href="/generated/events/#{event._id}",style="text-decoration: none;")
          div(class="mdl-card mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-shadow--2dp", style="width: 280px;")
            div(class="mdl-card__title")
              h1(class="mdl-card__title-text")= event.title
            div(class="mdl-card__supporting-text mdl-card__actions mdl-card--border")
              div When: #{formatDate(event.date)}
              div Where: #{event.place}
              div What: #{event.categorie}
            
  - function formatDate(dateString) {
  -   var date = new Date(dateString);
  -   var daysInWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  -   
  -   var formattedDate = daysInWeek[date.getDay()] + ", ";
  -   formattedDate += date.getDate() + ".";
  -   formattedDate += date.getMonth() + ".";
  -   formattedDate += date.getFullYear();
  -   
  -   return formattedDate;
  - }
