
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    block styles
      link(rel="stylesheet" href="/node_modules/material-design-lite/material.min.css")
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    block scripts
      script(src="/node_modules/material-design-lite/material.min.js")

  body
    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
      include ./header.jade
      block content
      include ./chat.jade
